@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #fff0f5 0%, #ffc0cb 50%, #ff69b4 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}


nav{
  font-size: 20px;
  align-items: center;
  text-align: center;
  color: #0c1353;
  padding: 50px;
}

.container{
  justify-content: center;
  align-items: center; 
  max-width: 40%;
  padding: 10px;
  border: solid 2px #fff0f5;
  border-radius: 16px;
  margin-top: 50px;
}

.prog img{
  margin-top: 40px;
  max-width: 20rem;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%; 
  padding: 10px;
}

footer{
  align-items: center;
  text-align: center;
  background-color: rgba(138, 43, 226, 0.2);
  margin-top: 10rem;
}

footer .links a{
  color: #555da7;
  text-decoration: none;
}

footer .links a:hover{
  text-decoration: underline;
}

footer .logos img{
  margin-left: 1rem;
  max-width: 2rem;
}

footer .logos img:hover{
  cursor: pointer;
}
